.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.2s;

  &.done {
    .title {
      text-decoration: line-through;
    }
  }
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.actions {
  display: flex;
  gap: 20px;

  img {
    cursor: pointer;
    width: 20px;
  }
}

img.reloadIcon {
  transform: scale(-1, 1);
}
