.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 15px 20px;
  border-bottom: 1px solid rgb(135, 210, 135);
  transition: background-color 0.2s;

  &.done {
    .title {
      text-decoration: line-through;
    }
  }
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.actions {
  display: flex;
  gap: 20px;

  svg {
    cursor: pointer;
    width: 20px;
  }
}

img.reloadIcon {
  transform: scale(-1, 1);
}
