.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    transition: background-color 0.2s;
    background-color: beige;
  }
}

.actions {
  display: flex;
  gap: 20px;

  img {
    cursor: pointer;
    width: 20px;
  }
}
