.wrapper {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: auto;
  min-height: 220px;
  text-align: center;
  border-radius: 18px;
  padding: 30px;
  background: #fcf59b;
  color: #212121;
}

.title {
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-size: 30px;
}
