@import "../../../scss/palette.scss";

.textField {
  width: 100%;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  outline-color: $primary;
}

.outlined {
  color: $primary;
  border: 1px solid $primary;

  &::placeholder {
    color: $primary;
  }
}
