@import "../../../scss/palette.scss";

.textField {
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  outline-color: $primary;

  &.error {
    &::placeholder {
      color: $error;
    }
  }
}

.outlined {
  color: $primary;
  border: 1px solid $primary;

  &::placeholder {
    color: $primary;
  }
}
