@import "../../../scss/variables.scss";

.button {
  border: none;
  outline: none;
  cursor: pointer;
}

.addBtn {
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  transition: all 0.1s;
  &:hover {
    transition: all 0.2s;
    background-color: #fff;
    color: $bgBody;
  }
}

.deleteBtn {
  font-weight: 700;
  border-radius: 2px;
  background-color: transparent;
  color: $errorColor;
  border: 1px solid $errorColor;
  &:hover {
    transition: all 0.2s;
    background-color: $errorColor;
    color: #fff;
  }
}

.udpateBtn {
  font-weight: 700;
  border-radius: 2px;
  background-color: transparent;
  color: $blueColor;
  border: 1px solid $blueColor;
  &:hover {
    transition: all 0.2s;
    background-color: $blueColor;
    color: #fff;
  }
}
