@import "../../../scss/palette.scss";

.button {
  padding: 5px 10px;
  border-radius: 8px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
}

.contained {
  background-color: $primary;
  color: #fff;
  transition: all 0.2s;

  &:hover {
    background-color: darken($primary, 10);
    transition: all 0.2s;
  }
}

.outlined {
  border: 2px solid $primary;
  background-color: transparent;
  color: $primary;

  &:hover {
    border: 2px solid darken($primary, 10);
    color: darken($primary, 10);
    transition: all 0.2s;
  }
}

:disabled {
  background-color: $gray;

  &:hover {
    background-color: $gray;
    cursor: default;
  }
}
