@import "../../scss/palette.scss";
@import "../../scss/variables.scss";

.header {
  height: $headerHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.basket {
  position: relative;
  width: 60px;
  height: 60px;
}

.basketImg {
  width: 100%;
  cursor: pointer;
}

.counter {
  text-align: center;
  line-height: 26px;
  font-weight: 700;
  background-color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  color: $bgBody;
  position: absolute;
  bottom: 0;
  right: 10px;
}
