.tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 40px;
}

.notTasks {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: gray;
  letter-spacing: 1px;

  img {
    width: 50px;
  }

  button {
    font-size: 18px;
    padding: 12px;
    background-color: #81cbbc;
  }
}
